body {
  background-color: white;
  font-color: #555;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 7%;
}
header {
  background: linear-gradient(45deg,#043751 0%,#104f71 30%,#1c809d 80%,#1c809d 100%);
  position: relative;
}
header .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0.72rem;
}
header .btn .fas {
  margin-right: 1.2%;
}
h1, h2 {
  color: rgb(49, 49, 49);
  margin-bottom: 0;
  font-weight: 300;
  padding: 2% 0;
}
h2, h3 {
  padding: 1% 0;
}
h1 {
  border-bottom: 1px solid rgb(240, 240, 243);
  border-top: 1px solid rgb(240, 240, 243);
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;  
}
input, select {
  padding: 2%;
  width: 100%;
}
textarea {
  resize: none;
}
*[readonly] {
  background: repeating-linear-gradient(45deg, #fff, #fff 10px, #fbfbfb 10px, #fbfbfb 20px);
  border: 1px solid rgb(169, 169, 169);
  color: grey;
}
